### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1064]:
# Dependencies and Setup
import pandas as pd

# To use the mean function
import statistics

# To the currency conversion function
import locale

In [1065]:
pd.options.display.precision = 6

In [1066]:
# Files to Load
school_data_to_load = "./Resources/schools_complete.csv"
student_data_to_load = "./Resources/students_complete.csv"

In [1067]:
# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [1068]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1069]:
# Calculate the total number of schools
total_schools = len(school_data_complete["school_name"].unique())
#####################################################################################
# validate calc
#total_schools

In [1070]:
# Calculate the total number of students
total_students = len(school_data_complete["Student ID"].unique())
#####################################################################################
# validate calc
#total_students

In [1071]:
# Calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())
#####################################################################################
# validate calc
#total_budget

In [1072]:
# Calculate the average math score
avg_math_score = statistics.mean(school_data_complete["math_score"])
#####################################################################################
# validate calc
#avg_math_score

In [1073]:
# Calculate the average reading score
avg_reading_score = statistics.mean(school_data_complete["reading_score"])
#####################################################################################
# validate calc
#avg_reading_score

In [1074]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
percent_overall_avg = (avg_math_score + avg_reading_score) / 2
#####################################################################################
# validate calc
#percent_overall_avg

In [1075]:
# Calculate the percentage of students with a passing math score (70 or greater)

# Calculate the total with a math score 70 or greater
total_passing_math = len(school_data_complete["Student ID"].unique()[school_data_complete["math_score"] >= 70])

# Divide the total passing by the total number of students.  Multiply total by 100 to format per column header
percent_passing_math = (total_passing_math/total_students) * 100
#####################################################################################
# validate calc
#percent_passing_math

In [1076]:
# Calculate the percentage of students with a passing reading score (70 or greater)

# Calculate the total with a reading score 70 or greater
total_passing_reading = len(school_data_complete["Student ID"].unique()[school_data_complete["reading_score"] >= 70])

# Divide the total passing by the total number of students.  Multiply total by 100 to format per column header
percent_passing_reading = (total_passing_reading/total_students) * 100
#####################################################################################
# validate calc
#percent_passing_reading

In [1091]:
# Create a dataframe to hold the above results
district_summary_data = pd.DataFrame({
    "Total Schools":[total_schools],
    
    # Format total_students; include commas
    "Total Students":[f"{total_students:,}"],
    
    # Format total_budget; print US dollar format with commas
    "Total Budget":[locale.currency(total_budget, grouping=True)],
    
    "Average Math Score":[avg_math_score],
    "Average Reading Score":[avg_reading_score],
    "% Passing Math":[percent_passing_math],
    "% Passing Reading":[percent_passing_reading],
    "% Overall Passing Rate":[percent_overall_avg]
})

In [1078]:
# Display District Summary
district_summary_data

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.43

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [1079]:
# Using GroupBy in order to separate the data into fields according to "school_name" values
# Also grouping by school "type" to capture this value in given solution
school_performance_data = school_data_complete.groupby(["school_name","type"])
#####################################################################################
# validate calc
#school_performance_data.head()

In [1080]:
# Calculate the total number of students
total_students_by_school = school_performance_data["Student ID"].count()
#####################################################################################
# validate calc
#total_students_by_school.head()

In [1081]:
# Calculate the total budget
total_budget_by_school = school_performance_data["budget"].mean()
#####################################################################################
# validate calc
#total_budget_by_school.head()

In [1082]:
# Per Student Budget
total_budget_by_student = (total_budget_by_school / total_students_by_school)
#####################################################################################
# validate calc
#total_budget_by_student.head()

In [1083]:
# Average Math Score
avg_math_score_by_school = school_performance_data["math_score"].mean()
#####################################################################################
# validate calc
#avg_math_score_by_school.head()

In [1084]:
# Average Reading Score
avg_reading_score_by_school = school_performance_data["reading_score"].mean()
#####################################################################################
# validate calc
#avg_reading_score_by_school.head()

In [1085]:
# Caculate total passing math by school
total_passing_math_by_school = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["math_score"].count()

# % Passing Math - students passing / total students
percent_math_score_by_school = (total_passing_math_by_school / total_students_by_school)
#####################################################################################
# validate calc
#percent_math_score_by_school.head()

In [1086]:
# Caculate total passing reading by school
total_passing_reading_by_school = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["reading_score"].count()

# % Passing Reading - students passing / total students
percent_reading_score_by_school = (total_passing_reading_by_school / total_students_by_school)
#####################################################################################
# validate calc
#percent_reading_score_by_school.head()

In [1087]:
# Overall Passing Rate (Average of the above two)
percent_overall_avg_by_school = (percent_math_score_by_school + percent_reading_score_by_school) / 2
#####################################################################################
# validate calc
#percent_overall_avg_by_school.head()

In [1088]:
# Save school performance data to DataFrame

performance_data_summary = pd.DataFrame({
    'Total Students':total_students_by_school,
    
    # Format monetary values to USD using
    'Total School Budget':total_budget_by_school.map('${:,.2f}'.format),
    'Per Student Budget':total_budget_by_student.map('${:,.2f}'.format),
    
    # Format non-monetary values to 6 decimal places
    'Average Math Score':avg_math_score_by_school.map('{:,.6f}'.format),
    'Average Reading Score':avg_reading_score_by_school.map('{:,.6f}'.format),
    '% Passing Math':(percent_math_score_by_school*100).map('{:,.6f}'.format),
    '% Passing Reading':(percent_reading_score_by_school*100).map('{:,.6f}'.format),
    '% Overall Passing Rate':(percent_overall_avg_by_school*100).map('{:,.6f}'.format)
}).reset_index()

In [1089]:
# Rename Index columns for display
clean_school_perf_summary = performance_data_summary.rename(columns={'school_name':'School Name','type':'School Type'})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [1033]:
# Display top 5 schools by overall passing rate
clean_school_perf_summary.sort_values(by=['% Overall Passing Rate'], ascending=False).head(5).style.hide_index()

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [1034]:
# Display 5 worst performing schools by overall passing rate
clean_school_perf_summary.sort_values(by=['% Overall Passing Rate'], ascending=True).head(5).style.hide_index()

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [1035]:
# Create a pandas series for each grade.  Hint: use a conditional statement:

In [1036]:
ninth_math_avg = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')["math_score"].mean()
#####################################################################################
# validate calc
#ninth_math_avg

In [1037]:
tenth_math_avg = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')["math_score"].mean()
#####################################################################################
# validate calc
#tenth_math_avg

In [1038]:
eleventh_math_avg = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')["math_score"].mean()
#####################################################################################
# validate calc
#eleventh_math_avg

In [1039]:
twelveth_math_avg = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')["math_score"].mean()
#####################################################################################
# validate calc
#twelveth_math_avg

In [1040]:
# Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({
    
     # Format averages to 6 decimal places
    '9th':ninth_math_avg.map('{:,.6f}'.format),
    '10th':tenth_math_avg.map('{:,.6f}'.format),
    '11th':eleventh_math_avg.map('{:,.6f}'.format),
    '12th':twelveth_math_avg.map('{:,.6f}'.format)
}).reset_index()

In [1041]:
# Rename Index columns for display
clean_math_scores_by_grade = math_scores_by_grade.rename(columns={'school_name':'School Name'}).style.hide_index()

In [1042]:
# Display math scores by grade
clean_math_scores_by_grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [1043]:
# Create a pandas series for each grade.  Hint: use a conditional statement:

In [1044]:
ninth_reading_avg = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
#####################################################################################
# validate calc
#ninth_reading_avg

In [1045]:
tenth_reading_avg = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
#####################################################################################
# validate calc
#tenth_reading_avg

In [1046]:
eleventh_reading_avg = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
#####################################################################################
# validate calc
#eleventh_reading_avg

In [1047]:
twelveth_reading_avg = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
#####################################################################################
# validate calc
#twelveth_reading_avg

In [1048]:
# Combine the series into a dataframe
reading_scores_by_grade = pd.DataFrame({
    
     # Format averages to 6 decimal places
    '9th':ninth_reading_avg.map('{:,.6f}'.format),
    '10th':tenth_reading_avg.map('{:,.6f}'.format),
    '11th':eleventh_reading_avg.map('{:,.6f}'.format),
    '12th':twelveth_reading_avg.map('{:,.6f}'.format)
}).reset_index()

In [1049]:
clean_reading_scores_by_grade = reading_scores_by_grade.rename(columns={'school_name':'School Name'}).style.hide_index()

In [1050]:
# Display reading scores by grade
clean_reading_scores_by_grade

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [1051]:
# Re-Saved school performance data to DataFrame... removing numbers stored as string literal

cl_perf_data = pd.DataFrame({
    'Total Students':total_students_by_school,
    'Total School Budget':total_budget_by_school,
    'Per Student Budget':total_budget_by_student,
    
    # Format non-monetary values to 6 decimal places
    'Average Math Score':avg_math_score_by_school.map('{:,.6f}'.format).astype(float),
    'Average Reading Score':avg_reading_score_by_school.map('{:,.6f}'.format).astype(float),
    '% Passing Math':(percent_math_score_by_school*100).map('{:,.6f}'.format).astype(float),
    '% Passing Reading':(percent_reading_score_by_school*100).map('{:,.6f}'.format).astype(float),
    '% Overall Passing Rate':(percent_overall_avg_by_school*100).astype(float).round(6)
}).reset_index()

In [1052]:
# validate data types
#cl_perf_data.dtypes

In [1053]:
# validate structure
#cl_perf_data.head(1)

In [1054]:
cl_perf_data["Spending Ranges (Per Student)"] = pd.cut(cl_perf_data["Per Student Budget"], spending_bins, labels=group_names)

In [1055]:
# Check for new column "Spending Ranges (Per Student)"
#cl_perf_data.head(1)

In [1056]:
spending_ranges = cl_perf_data.groupby("Spending Ranges (Per Student)")

In [1057]:
# Check for correct data aggregation
#spending_ranges.mean()

In [1058]:
# Select columns of interest
spending_range_data = spending_ranges[['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing Rate']]

In [1059]:
# Print Score by School Spending
spending_range_data.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.46,83.93,93.46,96.61,95.04
$585-615,83.60,83.89,94.23,95.90,95.07
$615-645,79.08,81.89,75.67,86.11,80.89
$645-675,77.00,81.03,66.16,81.13,73.65

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [19]:
# 

############################################################################

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,95.195187
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
# 

############################################################################

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757